@import "variables";
@import "mixins";

#logo {
  background-image: url(@logo-url);
  width: 143px;
}

.remove-item {
  cursor: pointer;
  margin-left: 5px;
  &:hover{
    color: #ff0000;
  }
}

.flip-h {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

h1 button {
  font-size: 14px;
  vertical-align: middle;
}

.badge-orange {
  background-color: rgb(255,102,0);
}

.badge-absolute {
  position: absolute;
}