<div>
    <div class="col-md-2 menu">
        <h1>Menu</h1>

        <ul class="list-unstyled">
            <li ng-repeat="item in MenuController.data._embedded.items">
                <a href="" ng-click="MenuController.goToItem(item)">{{item.title}}</a>
            </li>
        </ul>
        <div ng-show="MenuController.data._links.parent">
            <a href="" ng-click="MenuController.goBack()"><i class="glyphicon glyphicon-share-alt flip-h"></i> Back</a>
        </div>
    </div>
    <div ui-view></div>
</div>