<div class="col-md-10">
    <h1>
        {{MenuDetailsController.selectedItem.name}}
        <button ng-click="MenuDetailsController.addSelectedItemToCart()"><i class="glyphicon glyphicon-plus"></i> Add To Cart</button>
    </h1>
    <p>{{MenuDetailsController.selectedItem.description}}</p>
</div>