<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AE Café</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="styles/app.css"/>
    </head>

    <body>
        <nav class="navbar navbar-inverse" ng-controller="CartController as CartController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="badge badge-orange badge-absolute">{{CartController.itemsInCart.length > 0 ? CartController.itemsInCart.length : ''}}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo" class="navbar-brand" href="#/menu"></a>
                </div>
                <div class="navbar-collapse collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="menu">Menu</a></li>
                        <li ui-sref-active="active"><a ui-sref="orders">Orders</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                <span class="badge badge-orange">{{CartController.itemsInCart.length > 0 ? CartController.itemsInCart.length : ''}}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-show="CartController.itemsInCart.length == 0"><a>No items in cart</a></li>
                                <li ng-repeat="item in CartController.itemsInCart track by $index">
                                    <a>{{item.name}} <i ng-click="CartController.removeItem($event,$index)" class="remove-item glyphicon glyphicon-minus"></i></a>
                                </li>
                                <li class="divider"></li>
                                <li ng-click="CartController.submitCart()"><a href="">Submit</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div ui-view></div>
    </body>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="src/app.js"></script>
    <script src="src/item-list/module.js"></script>
    <script src="src/item-list/scripts/item-list.js"></script>
    <script src="src/cart/module.js"></script>
    <script src="src/cart/scripts/cart-controller.js"></script>
    <script src="src/cart/scripts/cart-service.js"></script>
    <script src="src/menu/module.js"></script>
    <script src="src/menu/scripts/menu-controller.js"></script>
    <script src="src/menu/scripts/menu-details-controller.js"></script>
    <script src="src/menu/scripts/menu-service.js"></script>
    <script src="src/orders/module.js"></script>
    <script src="src/orders/scripts/order-controller.js"></script>
    <script src="src/orders/scripts/order-service.js"></script>
</html>