<table class="table table-hover" ng-controller="OrderController as OrderController">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in OrderController.orders">
            <td>{{order.id}}</td>
            <td>{{order.date|date:'medium'}}</td>
            <td>
                <ul class="list-unstyled">
                    <div item-list="order._embedded.items"></div>
                </ul>
            </td>
        </tr>
    </tbody>
</table>